body {
    font-family: sans-serif;
}
header,main,footer{
background-color:black;
color:white;
padding:15px;
margin:0px;
}
a{
color:purple;
}
p{
font-size:23px;
}
body{
background-color:black;
}
a:hover{
color:white;
text-decoration:none;
}
